@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap"); /* Reference: */

@import "tailwindcss";

:root {
  --color-neutral-900: hsl(227, 75%, 14%);
  --color-neutral-800: hsl(226, 25%, 17%);
  --color-neutral-700: hsl(225, 23%, 24%);
  --color-neutral-600: hsl(226, 11%, 37%);
  --color-neutral-300: hsl(0, 0%, 78%);
  --color-neutral-200: hsl(217, 61%, 90%);
  --color-neutral-100: hsl(0, 0%, 93%);
  --color-neutral-0: hsl(200, 60%, 99%);

  --color-red-400: hsl(3, 86%, 64%);
  --color-red-500: hsl(3, 71%, 56%);
  --color-red-700: hsl(3, 77%, 44%);

  --font-body: "Noto Sans";

  

}

/* Theme overrides */
:root.theme-dark {
  --color-bg: linear-gradient(180deg, #040918 0%, #091540 100%);
  --color-text: var(--color-neutral-0);
  --color-paragraph: var(--color-neutral-300);
  --color-primary: var(--color-neutral-800);
 --color-secondary: var(--color-neutral-600);
  --color-accent: var(--color-red-500);
  --color-selected-text: var(--color-neutral-900);
  --color-border: var(--color-neutral-600);
  --color-toggle-bg: var(--color-neutral-700);
}

:root.theme-light {
  --color-bg: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --color-text: var(--color-neutral-900);
  --color-paragraph: var(--color-neutral-600);
  --color-primary: var(--color-neutral-0);
   --color-secondary: var(--color-neutral-0);
  --color-accent: var(--color-red-400);
  --color-selected-text: var(--color-neutral-0);
  --color-border: var(--color-neutral-300);
  --color-toggle-bg: var(--color-neutral-200);
}



@layer utilities{
    .bg-theme{
        background: var(--color-bg);
    }
    .bg-nav{
        background: var(--color-primary);
    }
    .text-theme{
        color: var(--color-text);
        font-family: var(--font-body);
    }

  
    .text-paragraph{
        color: var(--color-paragraph);
        font-size: 16px;
        /* font-family: var(--font-body); */
    }

     

    .choice-buttons{
      background: var(--color-primary);
      color: var(--color-text);
      border-radius: 32px;
      padding: 12px;
      min-width: 75px;
      cursor: pointer;
      
      height: fit-content;
      border: 2px solid transparent;
      /* font-family: var(--font-body); */
    }

    .choice-buttons.button-border {
    border: 2px solid var(--color-border);
}

    .choice-buttons:hover{
      background: var(--color-secondary);
      border: 2px solid var(--color-red-400);
      transition: all 0.2s ease-in-out;
    }

    .selected-button-text{
      color: var(--color-selected-text);
      font-weight: 500;
      box-shadow: 0 0 0 2px #f87171;
      box-shadow: 0 0 0 1.5px var(--color-selected-text), 0 0 0 calc(1.5px + 2px) #f87171;
      background-color: #ef4444 !important;
    }

    .card{
      display: flex;
      flex-direction: column;
      background: var(--color-primary);
      padding: 1rem;
      border-radius: 0.75rem;
      border: 1px solid var(--color-border);
      gap: 2rem;
    }


    
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-toggle-bg);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--color-red-400);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


