@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap"); /* Reference: */

@import "tailwindcss";

:root {
  --color-neutral-900: hsl(227, 75%, 14%);
  --color-neutral-800: hsl(226, 25%, 17%);
  --color-neutral-700: hsl(225, 23%, 24%);
  --color-neutral-600: hsl(226, 11%, 37%);
  --color-neutral-300: hsl(0, 0%, 78%);
  --color-neutral-200: hsl(217, 61%, 90%);
  --color-neutral-100: hsl(0, 0%, 93%);
  --color-neutral-0: hsl(200, 60%, 99%);

  --color-red-400: hsl(3, 86%, 64%);
  --color-red-500: hsl(3, 71%, 56%);
  --color-red-700: hsl(3, 77%, 44%);

  --font-body: "Noto Sans", sans-serif;
}

/* Theme overrides */
:root.theme-dark {
  --color-bg: linear-gradient(180deg, #040918 0%, #091540 100%);
  --color-text: var(--color-neutral-0);
  --color-primary: var(--color-neutral-800);
 --color-secondary: var(--color-neutral-600);
  --color-accent: var(--color-red-500);
}

:root.theme-light {
  --color-bg: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --color-text: var(--color-neutral-900);
  --color-primary: var(--color-neutral-0);
   --color-secondary: var(--color-neutral-600);
  --color-accent: var(--color-red-400);
}



@layer utilities{
    .bg-theme{
        background: var(--color-bg);
    }
    .bg-nav{
        background: var(--color-primary);
    }
    .text-theme{
        color: var(--color-text);
    }
    .choice-buttons{
      background: var(--color-primary);
      color: var(--color-text);
      border-radius: 32px;
      padding: 16px;
      min-width: 75px;
    }
}



